.dashboard {
  padding: 20px;
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: space-around;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* По умолчанию занимает всю ширину */
  max-width: 300px; /* Максимальная ширина для контроля размера */
  margin: 10px;
}

.dashboardButton {
  background-color: #BC3D96;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  display: block; /* Занимает всю доступную ширину */
}

.dashboardButton:hover {
  background-color: #EC238D;
}

.sectionImage {
  width: 100%; /* Занимает всю доступную ширину родителя */
  height: auto;
  object-fit: cover; /* Обеспечивает сохранение пропорций */
  margin-top: 10px;
}

/* Медиа запросы для более крупных экранов */
@media (min-width: 768px) {
  .contentContainer {
    flex-wrap: nowrap; /* Отменяет перенос элементов */
  }

  .section {
    width: 45%; /* Возвращает ширину секции на крупных экранах */
  }
}
