.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(90deg, #8D297F, #EC238D); /* Градиентный фон, соответствующий дизайну вашего сайта */
  color: white;
  position: fixed; /* Фиксируем футер внизу страницы */
  bottom: 0; /* Прижимаем футер к нижней части экрана */
  width: 100%; /* Футер занимает всю ширину страницы */
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Добавляем небольшую тень для визуального отделения футера от контента */
  z-index: 1000; /* Убедитесь, что футер всегда поверх других элементов */
}

.footer > p {
  margin: 0; /* Убираем отступы вокруг текста */
  font-size: 1rem; /* Устанавливаем размер шрифта */
}
