.unit-economics {
  padding: 20px;
}

.unit-economics h2 {
  text-align: center;
  margin-bottom: 20px;
}

.google-sheet-iframe {
  border: none;
  width: 100%; /* Занимает всю доступную ширину */
   height: 75vh;
}
